@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PhoneBook.Domain.Models.User
@model PhoneBook.Presentation.Razor.Pages.AddContactModel
@{
}
<div class="card">
    <div class="card-header">
        <div class="card-title-wrap bar ">
            <h4 class="card-title" id="basic-layout-colored-form-control">افزودن مخاطب</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="">

            <form class="form" method="Post" enctype="multipart/form-data">
                <div class="form-body ">
                    <h4 class="form-section ">
                        <i class="icon-direction"></i> اطلاعات مخاطب
                    </h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="userinput1">نام</label>
                                <input type="text" id="userinput1" class="form-control border-primary" asp-for="@Model.AddContactViewModel.FirstName">
                                <span asp-validation-for="@Model.AddContactViewModel.FirstName" class=" text-danger" style="font-size: 13px"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="userinput2">نام خانوادگی</label>
                                <input type="text" id="userinput2" class="form-control border-primary" asp-for="@Model.AddContactViewModel.LastName">
                                <span asp-validation-for="@Model.AddContactViewModel.LastName" class="text-danger" style="font-size: 13px"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="userinput3">موبایل</label>
                                <input type="text" id="userinput3" class="form-control border-primary" asp-for="@Model.AddContactViewModel.PhoneNumber">
                                <span asp-validation-for="@Model.AddContactViewModel.PhoneNumber" class="text-danger" style="font-size: 13px"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="userinput4" asp-for="@Model.AddContactViewModel.Gender">جنسیت</label>
                                <select id="userinput4" class="form-control  border-primary" asp-for="@Model.AddContactViewModel.Gender">
                                    
                                    <option value="U"></option>
                                    <option value='M'>آقا</option>
                                    <option value='W'>خانم</option>

                                </select>
                                <span asp-validation-for="@Model.AddContactViewModel.Gender" class="text-danger" style="font-size: 13px"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            <label>بارگزاری تصویر مخاطب</label>
                            <label for="images" class="drop-container" id="dropcontainer">
                                <span class="drop-title">تصویر را رها کنید</span>
                                یا
                                <input type="file" id="images" accept="image/jpeg, image/png" asp-for="@Model.AddContactViewModel.ContactImage">

                            </label>
                            <span asp-validation-for="@Model.AddContactViewModel.ContactImage" class="text-danger" style="font-size: 13px"></span>
                        </div>
                      
                    </div>



                </div>
                
                <div class="form-actions left mt-5">
                    <button type="button" class="btn btn-danger mr-1">
                        <i class="bi bi-trash me-1"></i> لغو
                    </button>
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-save-fill me-1"></i> ذخیره
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>